
<!-- CAROUSEL -->
<div id="home-carousel" class="carousel slide" data-ride="carousel">

	<!-- indicators -->
	<ol class="carousel-indicators">
		<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#home-carousel" data-slide-to="1"></li>
		<li data-target="#home-carousel" data-slide-to="2"></li>
	</ol>

	<!-- wrapper for slides (images are via CCS background) -->
	<div class="carousel-inner" role="listbox">
		<!-- slide 1 -->
		<div class="item active caro-bg caro-bg1">
			<div class="carousel-caption">
				<h3>FUTURAE GYM</h3>
				<p>A day pass includes the pool, steam room and sauna</p>
			</div>
		</div>

		<!-- slide 2 -->
		<div class="item caro-bg caro-bg2">
			<div class="carousel-caption">
				<h3>VIRTUAL REALITY WORKOUTS</h3>
				<p>This futuristic feature is for members only</p>
			</div>
		</div>

		<!-- slide 3 -->
		<div class="item caro-bg caro-bg3">
			<div class="carousel-caption">
				<h3>GET A PERSONAL TRAINER</h3>
				<p><a class="btn btn-default" href="/bookings" role="button">Book now</a></p>

			</div>
		</div>
	</div>

	<!-- controls (changed 'href' to 'data-target' to prevent creating links -->
	<a data-target="#home-carousel" class="left carousel-control" role="button" data-slide="prev">
		<span class="icon-prev" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a data-target="#home-carousel" class="right carousel-control" role="button" data-slide="next">
		<span class="icon-next" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>	


<!-- EVENTS SECTION -->
<div class="container container1">

	<div class="heading">
		<h1>COMING UP</h1>
	</div>

	<div class="row bdr">
		<div class="col-md-4 col-sm-6 hex1 bdr rd">
			<div class="hexAnchor">
				<div class="hexagon">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                </div>
				<div class="frontTxt">
					<h1>spin class</h1>
					<p>17 Jun</p>
				</div>
				<p class="backTxt">This fun intense fat-burner is free for members and £10 for non members.</p>
				<div class="hexClick"></div>
			</div>
		</div>

		<div class="col-md-4 col-sm-6 hex2 bdr gr">
			<div class="hexAnchor">
				<div class="hexagon">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                </div>
				<div class="frontTxt">
					<h1>VR special</h1>
					<p>21 Jun</p>
				</div>
				<p class="backTxt">£10 - members only. Run or fight in this kickboxing + cardio combo VR game!</p>
				<div class="hexClick"></div>
			</div>
		</div>

		<div class="col-md-4 col-sm-6 hex3 bdr bl">
			<div class="hexAnchor">
				<div class="hexagon">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                </div>
				<div class="frontTxt">
					<h1>fitness fête</h1>
					<p>27 Jun</p>
				</div>
				<p class="backTxt">Our monthly party returns... exercise games, food and drinks, special guests! £5 - members. £10 - non members.</p>
				<div class="hexClick"></div>
			</div>
		</div>

	</div>
</div>


<!-- NEXT SECTION -->
<div class="container2"></div>